

# Fichiers Python compilés
__pycache__/
*.py[cod]
*.pyo

# Fichiers temporaires
*.log
*.pot
*.pyc
*.db
*.sqlite3
*.swp
*.swo
*.bak
*.tmp

# Fichiers sensibles
.env
*.secret
*.pem




# Fichiers/dossiers spécifiques à l’IDE
.vscode/
.idea/
*.code-workspace

# Fichiers générés par le système
.DS_Store
Thumbs.db



# fichiers Docker optionnels
*.tar

staticfiles/
